.add {
  padding-top: 8px;
}

.add1 {
  padding-top: 4px;
}

.add2 {
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  height: 1890px;
  margin: 100px auto;
  border: 5px solid black;
}
.container .header .head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #3bbdb1;
  position: relative;
}
.container .header .head a {
  text-decoration: none;
  color: white;
  font-size: 49px;
  color: #3bbdb1;
  font-family: cursive;
}
.container .header .head .search {
  position: absolute;
  top: 19px;
  text-align: center;
  left: 840px;
  background-color: rgb(244, 244, 244);
  width: 35px;
  height: 30.5px;
  line-height: 30px;
}
.container .header .head .search:hover {
  background-color: rgb(231, 230, 230);
  cursor: context-menu;
}
.container .header .head input {
  width: 438px;
  height: 32px;
  border: 1px solid rgb(177, 176, 176);
  outline: none;
  padding-left: 10px;
}
.container .header .head input:focus {
  box-shadow: 0 0 5px #3bbdb1;
}
.container .header .head .h-shopping i {
  color: #3bbdb1;
  font-size: 30px;
  float: left;
}
.container .header .head .h-shopping p {
  margin-left: 10px;
  font-size: 25px;
  color: gray;
  float: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container .header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3dc9b4;
  padding-top: 8px;
}
.container .header .navbar h5 {
  border-left: 2px solid white;
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
.container .header .navbar h5:first-child {
  border: none;
}
.container .header .navbar h5:hover {
  color: #b6f4ee;
}
.container .header .owl-carousel {
  height: 445px;
  background-color: #3dc9b4;
  width: 100%;
}
.container .header .owl-carousel .carousel-item {
  background-color: #3dc9b4;
}
.container .header .owl-carousel .carousel-item img {
  padding-top: 50px;
  width: 290px;
  height: 330px;
  margin-right: 80px;
  float: left;
  padding-left: 230px;
  padding-top: 62px;
}
.container .header .owl-carousel .carousel-item .half {
  color: white;
  width: 390px;
  float: left;
  padding-top: 80px;
}
.container .header .owl-carousel .carousel-item .half p:first-child {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}
.container .header .owl-carousel .carousel-item .half p:nth-child(2) {
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 350px;
  margin-bottom: 30px;
}
.container .header .owl-carousel .carousel-item .half button {
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  font-family: monospace;
  border: 3px solid white;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
}
.container .header .owl-carousel .carousel-item .half button:hover {
  color: #b6f4ee;
  box-shadow: 0 0 10px #b6f4ee;
  cursor: pointer;
}
.container .header .head-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .header .head-footer .left {
  width: 340px;
  height: 190px;
  border-left: 1px solid rgb(210, 204, 204);
  text-transform: uppercase;
  padding-left: 35px;
  border: none;
}
.container .header .head-footer .left img {
  margin-top: 15px;
}
.container .header .head-footer .left div {
  float: right;
  margin-right: 55px;
  margin-top: 35px;
}
.container .header .head-footer .left div h3 {
  width: 10px;
  color: rgb(158, 155, 155);
}
.container .header .head-footer .left div button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #3cc395;
  border: none;
  color: white;
  font-family: cursive;
  text-transform: uppercase;
}
.container .header .head-footer .left div button:hover {
  color: #99ffdd;
  box-shadow: 0 0 10px #99ffdd;
}
.container .header .head-footer .center {
  width: 340px;
  height: 190px;
  border-left: 1px solid rgb(210, 204, 204);
  text-transform: uppercase;
  padding-left: 35px;
}
.container .header .head-footer .center img {
  margin-top: 15px;
}
.container .header .head-footer .center div {
  float: right;
  margin-right: 55px;
  margin-top: 35px;
}
.container .header .head-footer .center div h3 {
  width: 10px;
  color: rgb(158, 155, 155);
}
.container .header .head-footer .center div button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #3cc395;
  border: none;
  color: white;
  font-family: cursive;
  text-transform: uppercase;
}
.container .header .head-footer .center div button:hover {
  color: #99ffdd;
  box-shadow: 0 0 10px #99ffdd;
}
.container .header .head-footer .center img {
  padding-top: 10px;
}
.container .header .head-footer .center div {
  padding-right: 35px;
}
.container .header .head-footer .right {
  width: 340px;
  height: 190px;
  border-left: 1px solid rgb(210, 204, 204);
  text-transform: uppercase;
  padding-left: 35px;
}
.container .header .head-footer .right img {
  margin-top: 15px;
}
.container .header .head-footer .right div {
  float: right;
  margin-right: 55px;
  margin-top: 35px;
}
.container .header .head-footer .right div h3 {
  width: 10px;
  color: rgb(158, 155, 155);
}
.container .header .head-footer .right div button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #3cc395;
  border: none;
  color: white;
  font-family: cursive;
  text-transform: uppercase;
}
.container .header .head-footer .right div button:hover {
  color: #99ffdd;
  box-shadow: 0 0 10px #99ffdd;
}
.container .header .head-footer .right img {
  padding-left: 20px;
  padding-top: 10px;
}
.container .header .head-footer .right div {
  padding-right: 50px;
}
.container .center .center-head {
  height: 65px;
  background-color: #3bc4b9;
}
.container .center .center-head h3 {
  text-transform: uppercase;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 65px;
  font-size: 22px;
  margin-left: 160px;
}
.container .center .content {
  height: 690px;
  border-bottom: 3px solid #3bc4b9;
  padding-top: 25px;
}
.container .center .content .content-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .center .content .content-half .item {
  width: 255px;
  height: 260px;
  border: 2px solid rgb(213, 207, 207);
  border-bottom: 5px solid #3bbf92;
  text-transform: uppercase;
  text-align: center;
  margin: 25px;
}
.container .center .content .content-half .item img {
  margin-top: 30px;
}
.container .center .content .content-half .item h3,
.container .center .content .content-half .item p {
  font-size: 20px;
  color: rgb(158, 155, 155);
  margin-top: 10px;
}
.container .center .content .content-half .item p {
  display: inline-block;
}
.container .center .content .content-half .item button {
  width: 70px;
  height: 30px;
  background-color: #3bbf92;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 12px;
  font-weight: 600;
}
.container .center .content .content-half .item button:hover {
  color: #99ffdd;
  box-shadow: 0 0 10px #99ffdd;
}
.container .footer {
  height: 310px;
  background-color: #3cc3b5;
  padding-top: 30px;
}
.container .footer .names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.container .footer .names .section {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.container .footer .names .section:first-child {
  margin: 0px;
}
.container .footer .names .section h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.container .footer .names .section p {
  font-size: 18px;
  margin-bottom: 6px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(244, 244, 244);
}
.container .footer .names .section p:hover {
  cursor: pointer;
  color: #297169;
}
.container .copy {
  height: 36px;
  background-color: #2da89b;
  cursor: context-menu;
}
.container .copy p {
  line-height: 36px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */